<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MVPSwift.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F32E0D871E2D15750068B4C5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F32E0D9B1E2D15760068B4C5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F32E0DA61E2D15760068B4C5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
